# Module 1

   ### Welcome to the Answer notebook for Module 1 ! 
These notebooks have been provided to code and solve all the queries asked in the modules.

This environment has all the necessary libraries pre-installed, and all the Stock, Commodities and Index data files available at the following location -

#### The problem statements and their corresponding answers are expected to be in the following format -

#--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------#

### Query 1.1 
Import the csv file of the stock of your choosing using 'pd.read_csv()' function into a dataframe.
Shares of a company can be offered in more than one category. The category of a stock is indicated in the ‘Series’ column. If the csv file has data on more than one category, the ‘Date’ column will have repeating values. To avoid repetitions in the date, remove all the rows where 'Series' column is NOT 'EQ'.
Analyze and understand each column properly.
You'd find the head(), tail() and describe() functions to be immensely useful for exploration. You're free to carry out any other exploration of your own.

In [308]:
#The solution code should start right after the query statement, for example -
#importing necessary libraries
import numpy as np 
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [312]:
df = pd.read_csv('HDFC.csv') #importing the required csv file 

df = (df[df['Series'] == 'EQ']) # removing all the rows where 'Series' column is NOT 'EQ'

display(df.head()) # returns top n (5 by default) rows of a data frame.
display(df.tail()) # returns last n (5 by default) rows of a data frame.
display(df.describe()) # returns the information about the dataframe.

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,HDFC,EQ,15-May-2017,1549.80,1554.5,1572.60,1554.10,1561.0,1559.50,1562.62,1270297,1.984990e+09,59917,955875,75.25
2,HDFC,EQ,16-May-2017,1559.50,1558.0,1569.00,1554.00,1568.0,1566.55,1564.05,2114918,3.307844e+09,79354,1652379,78.13
3,HDFC,EQ,17-May-2017,1566.55,1565.5,1570.95,1549.75,1550.1,1552.50,1557.08,2161434,3.365526e+09,80317,1794472,83.02
5,HDFC,EQ,18-May-2017,1552.50,1547.0,1558.60,1526.50,1545.0,1537.05,1539.03,2404372,3.700407e+09,85842,1837821,76.44
7,HDFC,EQ,19-May-2017,1537.05,1545.0,1548.00,1515.35,1526.5,1520.60,1526.14,2142433,3.269652e+09,113875,1601236,74.74

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
824,HDFC,EQ,07-May-2019,1965.45,1974.80,2009.15,1959.20,1964.50,1966.30,1983.01,2683956,5.322315e+09,114029,1522276,56.72
825,HDFC,EQ,08-May-2019,1966.30,1964.50,1964.50,1925.05,1930.10,1930.75,1941.55,3626183,7.040422e+09,151779,2378973,65.61
826,HDFC,EQ,09-May-2019,1930.75,1926.00,1931.60,1901.30,1914.15,1914.60,1918.15,1932792,3.707382e+09,130444,1132999,58.62
827,HDFC,EQ,10-May-2019,1914.60,1915.25,1956.00,1910.75,1926.80,1931.70,1936.05,1628923,3.153682e+09,97684,811832,49.84
828,HDFC,EQ,13-May-2019,1931.70,1926.10,1984.40,1917.85,1957.00,1952.90,1958.85,4509527,8.833504e+09,139299,1332224,29.54

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,4.940000e+02,4.940000e+02,494.000000,4.940000e+02,494.000000
mean,1823.082085,1825.307692,1840.859717,1806.518623,1823.406883,1823.898077,1823.445870,2.832844e+06,5.161389e+09,113452.327935,1.987529e+06,69.580263
std,121.282237,121.198435,121.112550,119.440983,120.778951,120.794912,120.084157,1.305206e+06,2.362741e+09,39574.618974,9.763233e+05,8.885586
min,1511.500000,1519.000000,1530.000000,1503.450000,1510.000000,1511.500000,1518.840000,1.198320e+05,2.094236e+08,3912.000000,3.758300e+04,29.540000
25%,1730.562500,1729.900000,1753.200000,1713.012500,1730.437500,1731.425000,1733.872500,1.961598e+06,3.497697e+09,86062.250000,1.289399e+06,65.232500
50%,1828.825000,1831.850000,1844.550000,1816.250000,1826.975000,1829.025000,1829.600000,2.557129e+06,4.708236e+09,108139.500000,1.789542e+06,70.530000
75%,1928.075000,1926.700000,1947.400000,1907.825000,1925.937500,1929.187500,1925.947500,3.455178e+06,6.269317e+09,138580.500000,2.430699e+06,75.210000
max,2069.150000,2068.000000,2073.000000,2039.150000,2067.000000,2069.150000,2057.720000,9.486397e+06,1.749929e+10,312842.000000,6.951300e+06,92.260000

### Query 1.2
Calculate the maximum, minimum and mean price for the last 90 days. (price=Closing Price unless stated otherwise)

In [304]:
#And so on !

**This is the expected format of the answer notebook**

In [305]:
df1 = df.tail(90) #getting dataframe for last 90 days 

df_max = df1.loc[df1['Close Price'].idxmax()]   #calculating the maximum closing price for last 90 days
print("maximum close price for last 90 days:\n\n",df_max)

df_min = df1.loc[df1['Close Price'].idxmin()]   #calculating the minimum closing price for last 90 days
print("\nminimum close price for last 90 days:\n\n",df_min)

df_mean = df1['Close Price'].mean()             #calculating the mean closing price for last 90 days
print("\nmean close price for last 90 days:",df_mean)

maximum close price for last 90 days:

 Symbol                           HDFC
Series                             EQ
Date                      09-Apr-2019
Prev Close                     2054.9
Open Price                     2062.5
High Price                       2073
Low Price                     2039.15
Last Price                       2067
Close Price                   2069.15
Average Price                 2057.72
Total Traded Quantity         2381281
Turnover                  4.90001e+09
No. of Trades                  162102
Deliverable Qty               1662887
% Dly Qt to Traded Qty          69.83
Name: 808, dtype: object

minimum close price for last 90 days:

 Symbol                           HDFC
Series                             EQ
Date                      27-Feb-2019
Prev Close                    1853.65
Open Price                       1868
High Price                       1870
Low Price                        1820
Last Price                     1840.5
Close Price                      1841
Average Price                 1845.85
Total Traded Quantity         3412510
Turnover                  6.29898e+09
No. of Trades                  183158
Deliverable Qty               2141106
% Dly Qt to Traded Qty          62.74
Name: 780, dtype: object

mean close price for last 90 days: 1955.255555555555

## Query 1.3

In [306]:
import time
df['Date']= pd.to_datetime(df['Date'])  #converting date column from 'object' type to datetime64(ns)
print(df.Date.dtype)
Date_df = df.Date.max()-df.Date.min()   #Difference of maximum and minimum value of Date column
print(Date_df)
df.head()

datetime64[ns]
728 days 00:00:00

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,HDFC,EQ,2017-05-15,1549.80,1554.5,1572.60,1554.10,1561.0,1559.50,1562.62,1270297,1.984990e+09,59917,955875,75.25
2,HDFC,EQ,2017-05-16,1559.50,1558.0,1569.00,1554.00,1568.0,1566.55,1564.05,2114918,3.307844e+09,79354,1652379,78.13
3,HDFC,EQ,2017-05-17,1566.55,1565.5,1570.95,1549.75,1550.1,1552.50,1557.08,2161434,3.365526e+09,80317,1794472,83.02
5,HDFC,EQ,2017-05-18,1552.50,1547.0,1558.60,1526.50,1545.0,1537.05,1539.03,2404372,3.700407e+09,85842,1837821,76.44
7,HDFC,EQ,2017-05-19,1537.05,1545.0,1548.00,1515.35,1526.5,1520.60,1526.14,2142433,3.269652e+09,113875,1601236,74.74

## Query 1.4

In [266]:
df['Month'] = pd.DatetimeIndex(df.Date).month #It Creates a new dataframe column ‘Month’
df['Year']  = pd.DatetimeIndex(df.Date).year  #It Creates a new dataframe column ‘Year’

In [267]:
#grouping column with groupby() function
vwap = []
for year, groups in df.groupby(['Year', 'Month']):
    #the vwap list stores all the values for every months
    vwap.append(((groups['Close Price']*groups['Total Traded Quantity']).mean())/groups['Total Traded Quantity'].mean()) #calculation of vwap
print(vwap)

[1551.858138913995, 1634.1428740467704, 1682.241746273039, 1743.6680497928237, 1765.3935468022196, 1730.3141761266031, 1706.2832725810447, 1693.3585958249928, 1854.5974754796118, 1827.5515163669852, 1810.5208333772725, 1844.8727109539368, 1864.6813814172367, 1865.7245560566346, 1969.0964244381214, 1940.0868376189403, 1829.37307556748, 1718.956780934347, 1862.6938009734954, 1946.048384117358, 1962.2585270951733, 1901.9682539374974, 1939.8934103810745, 2004.1132218400637, 1958.0939693452451]

## Query 1.5

In [268]:
def avg_price(N):   # function to calculate the average price over the last N days of the stock price data 
    return(df['Close Price'].tail(N).mean())

In [269]:
avg_price(5) #average price for one week

1939.25

In [270]:
avg_price(10) #average price for 2 weeks

1965.795

In [271]:
avg_price(25) #average price for 1 month

1993.6880000000006

In [272]:
avg_price(75) #average price for 3 months

1950.1266666666659

In [273]:
avg_price(150) #average price for 6 months

1908.4906666666673

In [274]:
avg_price(252) #average price for 1 year

1904.8664682539697

In [275]:
def perc(N):
    perc = df['Close Price'].tail(N)
    x = perc.values[0]
    y = perc.values[N-1]
    z = ((y-x)/y)*100
    print((z))

In [276]:
perc(5)

-0.6861590455220371

In [277]:
perc(10)

-1.2545445235291104

In [278]:
perc(25)

-3.082595114957234

In [279]:
perc(75)

-2.639664089303085

In [280]:
perc(150)

7.504224486660872

In [281]:
perc(252)

2.1788109990270974

## Query 1.6

In [282]:
df['Day_Perc_Change'] = df['Close Price'].pct_change()*100 # A new dataframe column added named Day_Perc_Change

The first entry of the column have a ‘Nan’ value.It is because there is no previous value so that it could calculate the percentage.

In [283]:
df['Day_Perc_Change'][0] = 0 # setting the entry(NaN) to 0 before proceeding

## Query 1.7

In [284]:
df['Trend'] = "Slight or No Change" #assigning trend column a initial value

In [285]:
df.loc[(df["Day_Perc_Change"]>0.5) & (df["Day_Perc_Change"]<=1.0),"Trend"] = "Slight Positive" #this line compares the value and checks for the condition if condition is met then it assigns the value to the trend column

In [286]:
df.loc[(df["Day_Perc_Change"]<-0.5) & (df["Day_Perc_Change"]>=-1),"Trend"] = "Slight negative"

In [287]:
df.loc[(df["Day_Perc_Change"]>=1) & (df["Day_Perc_Change"]<3),"Trend"] = "Positive"

In [288]:
df.loc[(df["Day_Perc_Change"]<-1) & (df["Day_Perc_Change"]>-3),"Trend"] = "Negative"

In [289]:
df.loc[(df["Day_Perc_Change"]>=3) & (df["Day_Perc_Change"]<7),"Trend"] = 'Among Top Gainers'

In [290]:
df.loc[(df["Day_Perc_Change"]<=-3) & (df["Day_Perc_Change"]>-7),"Trend"] = 'Among Top losers'

In [291]:
df.loc[(df["Day_Perc_Change"]>7),"Trend"] = 'Bull run'

In [292]:
df.loc[(df["Day_Perc_Change"]<-7),"Trend"] = 'Bear drop'

In [293]:
df["Trend"].value_counts()

Slight or No Change    152
Positive                98
Negative                96
Slight Positive         70
Slight negative         63
Among Top Gainers        9
Among Top losers         6
Name: Trend, dtype: int64

## Query 1.8

In [296]:
med = df.groupby(["Trend"])
med["Total Traded Quantity"].median() #median calculated

Trend
Among Top Gainers      6450539.0
Among Top losers       4736399.5
Negative               2807872.5
Positive               2915465.5
Slight Positive        2434008.5
Slight negative        2224803.0
Slight or No Change    2247984.0
Name: Total Traded Quantity, dtype: float64

In [313]:
med["Total Traded Quantity"].mean() #average calculated

Trend
Among Top Gainers      6.352677e+06
Among Top losers       5.186927e+06
Negative               3.028490e+06
Positive               3.075714e+06
Slight Positive        2.583997e+06
Slight negative        2.494395e+06
Slight or No Change    2.506236e+06
Name: Total Traded Quantity, dtype: float64

In [300]:
df.to_csv('week2.csv',index=False) #dataframe saved as week2.csv